@import "common.css";

#itemlist
{
    position: absolute;
    width: 1272px;
    height: 760px;
    left: 326px;
    top: 200px;
    
    overflow: auto;
    
    border-radius: 5px;
    background-color: #FFFFFF;
}


#itemlist > .row
{
    width: 100%;
    display: flex;
}

#itemlist .item
{
    position: relative;
    width: 300px;
    height: 335px;

    background: #ECECEC;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;

    margin: 9px;
}

#itemlist .item .thumbnail
{
    position: relative;
    width: 200px;
    height: 200px;
    object-fit: contain;

    top: 9px;
    left: 50px;
}

#itemlist .item .name
{
    width: 100%;
    text-align: center;
    top: 220px;
}

#itemlist .selected
{
    border: 5px solid #0E837A;
}

#selected
{
    width: 284px;
    height: 25px;

    text-align: right;
    line-height: 25px;
    top: 48px;
    left: 1148px;

    position: absolute;
}