@import "grid.css";

@font-face
{
    font-family: 'Lexend-Exa';
    src: url('../fonts/lexendexa-regular-webfont.woff2') format('woff2'),
         url('../fonts/ lexendexa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Lexend-Deca';
    src: url('../fonts/lexenddeca-regular-webfont.woff2') format('woff2'),
         url('../fonts/lexenddeca-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body
{
    width: 1920px;
    height: 1080px;
    margin: 0px;

    font-family: Lexend-Deca;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.2px;

    font-size: 20px;
    line-height: 60px;

    color: #232323;
    background-color: #FAFAFB;
}


.header
{
    height: 200px;
    width: 1920px;
}

.header.small
{
    height: 100px;
}

#language-switch
{
    position: absolute;
    width: 50px;
    height: 26px;
    left: 30px;
    top: 30px;
    line-height: 26px;

    font-family: Lexend-Deca;
    font-size: 16px;
    color: #0E837A;

    background-repeat: no-repeat;
    background-position: right;
}

#language-switch.en
{
    background-image: url(../lang/en.png);
}

#language-switch.is
{
    background-image: url(../lang/is.png);
}


.header .logout
{
    position: absolute;
    width: 52px;
    height: 26px;
    left: 1810px;
    top: 30px;

    font-family: Lexend-Deca;
    font-size: 12px;
    line-height: 26px;

    color: #0E837A;
    background-image: url("../img/user.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 28px;
}

.header .logout:hover
{
    color: #38c0b6;
    cursor: pointer;
}

a
{
    text-decoration-line: underline;
    color: ##0E837A;
}

.link
{
     color: ##0E837A;
}

.title
{
    font-family: Lexend-Exa;
    font-size: 40px;
    text-align: center;
    width: 100%;
    height: 60px;
}

.section-title
{
    font-size: 40px;
    text-align: left;
    margin-left: 8px;
    width: 100%;
    height: 60px;
}

.rounded-button
{
    /* Button */
    box-shadow: 0px 2px 10px rgba(101, 192, 237, 0.5);
    border-radius: 40px;
    font-family: Lexend-Deca;

    width: 266px;
    height: 80px;

    text-align: center;
    margin-block-start: 0px;
    margin-top: 0px;
    line-height: 80px;
    font-size: 30px;
    vertical-align: middle;

    text-decoration: none;
}

.rounded-button:hover
{
    cursor: pointer;
}

.rounded-button.yellow
{
    background: #ffcb41;
    color: #232323;
}

.rounded-button.yellow:hover
{
    background: #ffeec2;
}

.rounded-button.green
{
    background: #38c0b6;
    color: #232323;
}

.rounded-button.green:hover
{
    background: #c8e8e7;
}

.hollow-green
{
    height: 70px;
    line-height: 70px;
    border: 5px solid #38C0B6;
    background-color: #FFFFFF;
    color: #232323;
}

.hollow-green:hover
{
    border: 5px solid #c8e8e7;
    color: #232323;
}

.hollow-gray
{
    border: 5px solid #d8d8d8;
    color: #232323;
    background-color: #FFFFFF;
}

.hollow-pale-green
{
    border: 5px solid #C8E8E7;
    color: #232323;
    background-color: #FFFFFF;
}

.rounded-list
{
    position: absolute;
    width: 626px;
    height: 500px;
    top: 350px;
    left: 647px;

    overflow: auto;

    counter-reset: tools;
}

.rounded-list .list-header
{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.rounded-list .list-header .need-maintenance
{
    width: 240px;

    font-family: Lexend-Deca;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #0E837A;
}

.rounded-list .row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 46px;
}

.rounded-list .counter
{
    counter-increment: tools;
    width: 83px;
    font-size: 50px;
    content: counter(tools) ". ";
}

.rounded-list .item
{
    width: 495px;
    height: 70px;
    line-height: 70px;
    background-color: #FFFFFF;
    color: #232323;

    text-align: left;
    font-size: 20px;
    padding-left: 38px;

    box-shadow: 0px 2px 10px rgba(101, 192, 237, 0.5);
    border-radius: 40px;
    font-family: Lexend-Deca;

    margin-block-start: 0px;
    margin-top: 0px;

    vertical-align: middle;

    text-decoration: none;
}

.rounded-list .row .need-maintenance
{
    /* Width of whole object: 330px */
    width: 83px;
    height: 80px;

    background-image: url(../img/switch_off.png);
    background-size: 96px 41px;
    background-position: 47px center;
    background-repeat: no-repeat;

    margin-left: 90px;
    padding-left: 157px;
    line-height: 80px;
    font-size: 18px;
    color: #232323;
}

.rounded-list .selected .need-maintenance
{
    background-image: url(../img/switch_on.png);
    color: #0E837A;
}

.rounded-list .row .locker
{
    width: 456px;
    height: 80px;

    margin-left: 20px;
    padding-left: 73px;
}

.rounded-list .row .locker.item-active
{
    background-image: url(../img/right_arrow.png);
    background-position: 0px center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.rounded-list .row .locker .shelf
{
    font-size: 20px;
    line-height: 45px;
    height: 45px;
}

.rounded-list .row .locker .instruction
{
    font-size: 16px;
    line-height: 20px;
    height: 20px;
}

.grid-list
{
    position: absolute;
    width: 1272px;
    height: 760px;
    left: 326px;
    top: 200px;
    
    overflow: auto;
    
    border-radius: 5px;
}


.grid-list > .row
{
    width: 100%;
    display: flex;
}

.grid-list .item
{
    position: relative;
    width: 300px;
    height: 335px;

    background: #c8e8e7;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;

    margin: 9px;
}

.grid-list .item .thumbnail
{
    position: relative;
    width: 200px;
    height: 200px;
    object-fit: contain;

    top: 9px;
    left: 50px;
}

.grid-list .item .name
{
    width: 100%;
    text-align: center;
    top: 220px;
}

.grid-list .selected
{
    border: 5px solid #0E837A;
}

label
{
    font-family: Lexend-Deca;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 60px;
}

input
{
    font-family: Lexend-Exa;
    margin-block-start: 0px;
    margin-top: 0px;
    box-sizing: border-box;
    border-radius: 40px;

    width: 100%;
    height: 80px;

    padding: 8px 40px 8px 40px;
    line-height: 80px;
    font-size: 30px;
    vertical-align: middle;

    background-color: #FFFFFFF;
}

input:focus
{
    outline: none;
    border: 5px solid #c8e8e7;
}

.footer {
    position: absolute;
    width: 1920px;
    height: 100px;
    top: 980px;
    display: flex;
    align-items: center;
}

.footer.gray
{
    height: 120px;
    top: 960px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
}

.footer p
{
    background: #F1F1F1;
    line-height: 20px;
    font-size: 60px;
    letter-spacing: 0.2px;
    color: #232323;
}

.footer .left-link
{
    margin-left: 162px;
    color: #0E837A;
    font-size: 24px;
    line-height: 24px;

    text-decoration: none;
}

.footer .go-back
{
    padding-left: 40px;
    background-image: url('../img/arrow.png');
    background-position: left;
    background-repeat: no-repeat;
}

.footer .go-back:hover
{
    cursor: pointer;
}

.footer .rounded-button
{
    position: absolute;
    left: 1492px;
    background: #38C0B6;

    border-radius: 30px;
    height: 60px;
    line-height: 60px;
}