@import "common.css";

.title
{
    font-size: 60px;
    line-height: 60px;
    text-align: center;

    width: 100%;
    position: absolute;

    top: 266px;
}

.subtitle
{
    position: absolute;
    width: 100%;
    top: 380px;

    font-size: 40px;
    line-height: 60px;
    text-align: center;
}

#back
{
    position: absolute;
    width: 407px;
    top: 589px;
    left: 757px;

    display: block;
}

body
{
    background-image: url(../img/errorednails.png);
    background-repeat: no-repeat;
    background-size: 1559px;
    background-position: center 69px;
}