@import "common.css";

#buttons
{
    position: absolute;
    width: 100%;
    top: 200px;
    left: 0px;

    display: flex;
    align-items: center;

    justify-content: space-evenly;
    visibility: hidden;
}