@import "common.css";

#buttons
{
    position: absolute;
    width: 100%;
    top: 200px;
    left: 0px;

    display: flex;
    align-items: center;

    justify-content: space-evenly;
    visibility: hidden;
}

body
{
    background-image: url(../img/borrowreturn.png);
    background-size: 1800px;
    background-position: 60px 86px;
    background-repeat: no-repeat;
}