@import "common.css";

#content
{
    position: absolute;
    left: 1132px;
    width: 628px;
    top: 200px;
}

#terms
{
    height: 35px;

    top: 945px;

    line-height: 35px;
    font-size: 16px;
}

#terms a
{
    font-size: 16px;
}

#login
{
    top: 422px;
}

#continue
{
    position: absolute;
    top: 838px;
    left: 1492px;
}

#forgot
{
    position: absolute;
    top: 710px;
    text-align: right;
}

body
{
    background-image: url(../img/login.png);
    background-size: 1080px 1000px;
    background-repeat: no-repeat;
    background-position: 10px 50px;
}