@import "common.css";

#login
{
    position: absolute;
    left: 1492px;
    top: 900px;
}

#cancel
{
    position: absolute;
    left: 1186px;
    top: 900px;
}

#qr-code
{
    position: absolute;
    width: 227px;
    height: 227px;
    left: 1319px;
    top: 506px;
}

body
{
    background-image: url(../img/reset.png);
    background-size: 1037px 1000px;
    background-position: left bottom;
    background-repeat: no-repeat;
}