@import "common.css";

#subtitle
{
    position: absolute;
    width: 100%;
    top: 200px;
    text-align: center;
    line-height: 24px;
}

.title
{
    position: absolute;
    top: 100px;
}

#itemlist
{
    position: absolute;
    width: 1272px;
    height: 760px;
    left: 326px;
    top: 200px;
    
    overflow: auto;
    
    border-radius: 5px;
    background-color: #FFFFFF;
}